body {
  min-height: 2000px;
}

.navbar-form input, .form-inline input {
    width:auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}