<!-- START Register form -->
<a class="anchor" id="registrering"></a>

<div class="registrering">
    <div class="registreringsinfo">
        <h2>Registrering</h2>
    </div>
    <div class="antall-registrerte">
        <i class="fa fa-thumbs-up fa-lg"></i>
        <span>{{numRegistrations}}</span>
    </div>
</div>
<div class="registrering reginfo">
    <div class="registreringsinfo">
        <p>
            Deltakelse er gratis. Vi har en begrensning på 100 plasser, hvorav 50 er forbeholdt Accenture ansatte,
            så vær tidlig ute med å registrere deg! Etter registrering vil du få en bekreftelse på mail som du tar
            med når du ankommer Teknologihuset.
        </p>

        <h3>Passer for:</h3>
        <ul>
            <li>Frontendutviklere</li>
            <li>Arkitekter</li>
            <li>Interaksjonsdesignere</li>
            <li>Backendutviklere nysgjerrige på frontendteknologier</li>
        </ul>
    </div>
    <script type="text/ng-template" id="successModal.html">
        <div class="modal-header">
            <h1>Du er registrert</h1>
        </div>
        <div class="modal-body">
            <p>For å fullføre registreringen må du bekrefte din påmelding. Sjekk din email.</p>
        </div>
        <div class="modal-footer">
            <button class="btn registrer" ng-click="ok()">Lukk</button>
        </div>
    </script>
    <script type="text/ng-template" id="confirmModal.html">
        <div class="modal-header">
            <!--<a class="close" ng-click="close()">×</a>-->
            <h1>Din registrering er bekreftet</h1>
        </div>
        <div class="modal-body">
            <p>Velkommen til fagkveld. Vi sees den 20. november.</p>
        </div>
        <div class="modal-footer">
            <button class="btn registrer" ng-click="ok()">Lukk</button>
        </div>
    </script>
    <script type="text/ng-template" id="confirmErrorModal.html">
        <div class="modal-header">
            <h1>Noe gikk galt</h1>
        </div>
        <div class="modal-body">
            <p>Beklager, noe gikk galt med registreringen din: {{error}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn registrer" ng-click="ok()">Lukk</button>
        </div>
    </script>
    <script type="text/ng-template" id="unregisterModal.html">
        <div class="modal-header">
            <h1>Du er avregistrert</h1>
        </div>
        <div class="modal-body">
            <p>
                Du er nå avregistrert. Ta kontakt med <a href="mailto:tonny.gundersen@accenture.com">tonny.gundersen@accenture.com</a>
                hvis du ombestemmer deg.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn registrer" data-ng-click="ok()">Lukk</button>
        </div>
    </script>
    <div class="registreringsformulaer">
        <div class="registered-users">
            <form class="form" name="registrationForm" role="form" novalidate>
                <div class="form-group">
                    <label class="sr-only" for="navn">Navn</label>

                    <div class="input-group">
                            <span class="input-group-addon">
                                 <span class="fa fa-user fa-md"></span>
                            </span>
                        <input id="navn" name="name" data-ng-model="registration.person.name" required type="text"
                               class="form-control" placeholder="Navn">
                    </div>
                    <span data-ng-show="registrationForm.name.$dirty && registrationForm.name.$error.required">Navn er påkrevd!</span>
                    <span data-ng-show="registrationForm.name.$error.serverMessage">{{registrationForm.person.name.$error.serverMessage}}</span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">Email</label>

                    <div class="input-group">
                            <span class="input-group-addon">
                                 <span class="fa fa-envelope fa-md"></span>
                            </span>
                        <input id="email" name="email" data-ng-model="registration.person.email" required type="email"
                               class="form-control" placeholder="Email">
                    </div>
                    <span data-ng-show="registrationForm.email.$dirty && registrationForm.email.$error.required">Mail er påkrevd!</span>
                    <span data-ng-show="registrationForm.email.$error.serverMessage">{{registrationForm.person.email.$error.serverMessage}}</span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="telefon">Telefon</label>

                    <div class="input-group phone">
                            <span class="input-group-addon">
                                 <span class="fa fa-phone fa-md"></span>
                            </span>
                        <input id="telefon" name="phone" data-ng-model="registration.person.phone" required type="tel"
                               class="form-control" placeholder="Telefon">
                    </div>
                    <span data-ng-show="registrationForm.phone.$dirty && registrationForm.phone.$error.required">Telefon er påkrevd!</span>
                    <span data-ng-show="registrationForm.phone.$error.serverMessage">{{registrationForm.person.phone.$error.serverMessage}}</span>
                </div>

                <p class="alert alert-danger" data-ng-show="error">
                    <i class="fa fa-thumbs-down fa-lg"></i>
                    {{error}}
                </p>

                <button data-ng-disabled="registrationForm.$invalid" ng-click="create(registration)"
                        class="registrer">
                    <i class="fa fa-thumbs-up fa-lg"></i> Registrer
                </button>
            </form>
        </div>
    </div>
</div>
<!-- END Register form -->